body {
 text-align: center;
  margin: 0;
}

header {
  box-shadow: 0 0 10px #ccc;
  margin: 0;
  padding: 12px;
  background: url('applogo.png') no-repeat 0 50%;
}

#data {
  text-align:left;
  height: 70px;
  display: inline-block;
}

#send {
  border: 1px solid #ccc;
  display: block;
  border-radius: 150px;
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  background: #f8f8f8;
  text-decoration: none;
  color: #333;
  text-shadow: 0 0 1px #ccc;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#send:hover {
  background: #f5f5f5;
}